@model Certification.Domain.DomainModels.ResetPasswordView

@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Inherit your main layout if you have one, or set to null for no layout.
    ViewBag.Title = "تغيير كلمة المرور";
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
            <div class="login-screen">
                <div class="login-box">
                    <a href="javascript:void(0)" class="login-logo">
                        <img src="~/Content/assets/images/logo.jpg" alt="Logo" />
                    </a>
                    @using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmChangePassword", @class = "theme-form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(x => x.Id)

                        <div class="form-group">
                            <label class="label-name">البريد الالكتروني</label>
                            <div class="input-group">
                                @Html.TextBoxFor(c => c.Email, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="label-name">اسم المستخدم</label>
                            <div class="input-group">
                                @Html.TextBoxFor(c => c.UserName, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="label-name">كلمة المرور</label>
                            <div class="input-group">
                                @Html.TextBoxFor(c => c.Password, new { @class = "form-control", @type = "password" })
                                @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="label-name">تاكيد كلمة المرور</label>
                            <div class="input-group">
                                @Html.TextBoxFor(c => c.ConfirmPassword, new { @class = "form-control", @type = "password" })
                                @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div align="center" class="card-footer" style="padding: 10px;">
                            <button type="button" class="btn btn-save" onclick="SavePassword()"><i class="fa fa-save"></i> حفظ </button>
                            <button type="button" class="btn btn-cancel" style="margin-right:5px;" onclick="ResetPassword()"><i class="fa fa-times"></i> إلغاء</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<script>
    function SavePassword() {
        if ($("#frmChangePassword").valid()) {
            $.post("@Url.Action("ResetPassword", "Account")", $("#frmChangePassword").serialize(), function (res) {
                alert("تم التعديل بنجاح", "success");
            });
        }
    }

    function ResetPassword() {
        var url = '@Url.Action("ResetPassword", "Account")';
        $.get(url, function (res) {
            $("#ChangePassword").html("").append(res);
        });
        return false;
    }
</script>
    <style>
        .input-validation-error {
            border: 1px dashed red;
        }

        /* Decrease image size */
        .login-logo img {
            width: 120px;
            height: auto;
        }

        /* Increase button size */
        .btn {
            font-size: 18px;
            padding: 12px 20px;
        }



        .btn-cancel {
    margin-bottom: 15px;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 600;
    width: 42%;
    background: #38629d !important;
    border-radius: 5px !important;
    color: #fff !important;
}


.btn-save {
    margin-bottom: 15px;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 600;
    width: 42%;
    background: #00171f !important;
    border-radius: 5px !important;
    color: #fff !important;
}

.card-footer{
        padding: 20px 14px 14px 10px;
}
    </style>