@model Certification.Domain.Entities.WorkshopParticipant


@{
    Layout = null;
}

<!DOCTYPE html>

<html>

    
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>الشهادة</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons -->
    <link rel="icon" href="~/Content/assets/images/logo.jpg">

    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.css"/>

    <link rel="stylesheet" href="~/Content/assets/css/responsive.css"/>
    <link rel="stylesheet" href="~/Content/assets/css/responsive.css"/>

    <link rel="stylesheet" href="~/Content/new_main.css"/>
</head>
<body style="background-color:#fff;height:800px;">
<!-- Container start -->
<div class="container">
    <div class="main-container">

        <div class="content-wrapper">


            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card text-center">
                        @*width="1200" height="830"*@
                        @*<img src="@string.Concat("/Attachments/",Model.Course.CertificationImage,".jpg")" class="card-img" alt="..." width="1050" height="720">*@
                        @*<img style="width:100%; height:720px;" id="imageContent" src="@string.Concat("/Attachments/",Model.Course.CertificationImage,".jpg")" class="card-img" alt="..." width="1050">*@
                        <img style="width:100%; " id="imageContent" src="@string.Concat("/Attachments/", Model.Course.CertificationImage, ".jpg")" class="card-img" alt="..." width="720" height="800">
                        <div class="card-img-overlay">

                            @*<div class="card-body" id="CertificationName">
            @Html.Raw(Model.Course.CertificationName)

        </div>*@

                            <div class="card-body" style="padding-right: 0px; padding-left: 100px; margin-top:26%; margin-right: -103px;">
                                <h6 class="c-title">
                                    <span style="color:#016241"> @Model.Name</span>
                                </h6>

                            </div>


                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>

<!-- JS Files -->
<script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>

<script src="~/Content/assets/js/bootstrap/popper.min.js"></script>

<script src="~/Content/assets/js/script.js"></script>

<script>
        @*$(function () {
            debugger;
            document.body.innerHTML = document.body.innerHTML.replace('قم بتحريك النص لتعديل وضعه بالشهادة', '@Model.Name.ToString()');
       
        });*@
    </script>

</body>


</html>