@model Certification.Domain.DomainModels.ResetPasswordView
@using FormMethod = Microsoft.AspNetCore.Mvc.Rendering.FormMethod

@using (Html.BeginForm("", "", FormMethod.Post, new { @id = "frmChangePassword" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)


    <div class="form-group">
        <label class="label-name">البريد الالكتروني</label>
        <div class="input-group">
            @Html.TextBoxFor(c => c.Email, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        <label class="label-name">اسم المستخدم </label>
        <div class="input-group">
            @Html.TextBoxFor(c => c.UserName, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="form-group">
        <label class="label-name">كلمة المرور</label>
        <div class="input-group">
            @Html.TextBoxFor(c => c.Password, new { @class = "form-control", @type = "password" })
            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="label-name">تاكيد كلمة المرور</label>
        <div class="input-group">
            @Html.TextBoxFor(c => c.ConfirmPassword, new { @class = "form-control", @type = "password" })
            @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>


    <div align="center" class="card-footer" style="padding: 10px;">
        <a href="#" class="btn btn-save" onclick="SavePassword()"><i class="fa fa-save"></i> حفظ </a>
        <a class="btn btn-cancel" style="margin-right:5px;" onclick="ResetPassword()"><i class="fa fa-times"></i> إلغاء</a>
    </div>

}

<script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>


<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script>

    function SavePassword() {
        debugger;
        if ($("#frmChangePassword").valid()) {
            $.post("@Url.Action("ResetPassword", "Account")", $("#frmChangePassword").serialize(), function (res) {
                debugger;
                //ResetPassword();
                alertt("تم التعديل بنجاح", "success");
            })
        }

    }

    function ResetPassword() {
        debugger;

        var url = '@Url.Action("ResetPassword", "Account")' ;
        $.get(url, function (res) {
            $("#ChangePassword").html("").append(res);
        });
        return false;

    }
</script>





