@using CertificationCoreWeb.Resources
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> Localizer

@model Certification.Domain.DomainModels.ForgetPasswordView

@{
    ViewBag.Title = Localizer["forgetpass"];
}


<div id="titlebar" class="gradient">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>Localizer["forgetpass"]</h2>

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs" class="dark">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">@Localizer["forgetpass"]</a></li>
                        <li>@Localizer["forgetpass"]</li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-xl-5 offset-xl-3">

            <div class="login-register-page">
                <!-- Welcome Text -->
                <div class="welcome-text">
                    <h3>@Localizer["gladtoseeyou"]</h3>
                    <span>@Localizer["donothaveaccount"] <a href="@Url.Action("Register", "Account")">@Localizer["signup"]</a></span>
                </div>

                <!-- Form -->
                @using (Html.BeginForm("", "", new { @id = "ForgetPassword" }))
                {
                    @Html.ValidationSummary()




                    <div class="input-with-icon-left">
                        <i class="icon-material-baseline-mail-outline"></i>
                        @Html.TextBoxFor(x => x.Email, new { @class = "input-text with-border", @placeholder = @Localizer["emailaddress"] })
                    </div>


                    <!-- Button -->
                    <button class="button full-width button-sliding-icon ripple-effect margin-top-10" onclick="fnForgetpass();"
                            form="login-form" type="button">
                        @Localizer["restore"] <i class="icon-material-outline-arrow-right-alt"></i>
                    </button>
                }



            </div>



        </div>
    </div>
</div>
<div class="margin-top-70"></div>
<div id="backtotop" class="visible"><a href="#"></a></div>
<div id="mm-blocker" class="mm-slideout"></div>



<script>


    function fnForgetpass() {
        
        $.ajax({
            url: '/Account/ForgetPassword?Email=' + $("#Email").val(),
            type: "POST",

            success: function (res) {
                if (res == "1") {
                    alert("Reset Password Suucssfully");
                } else {
                    alert("error");


                }
            }
        });
    }

</script>