<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <link rel="icon" href="~/Content/assets/images/logo.jpg">
  

    @*<link rel="icon" href="~/Content/assets/images/logo3.png" type="image/x-icon" />
        <link rel="shortcut icon" href="~/Content/assets/images/logo3.png" type="image/x-icon" />*@

    <title>@ViewBag.Title</title>

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet">


    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/fontawesome.css">

    <!-- ico-font -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/icofont.css">

    <!-- Themify icon -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/themify.css">

    <!-- Flag icon -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/flag-icon.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/bootstrap.css">

    <!-- App css -->
    @*<link rel="stylesheet" type="text/css" href="~/Content/assets/css/style.css">*@

    <!-- Responsive css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/responsive.css">
    <!-- DatePicker css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/date-picker.css">

    @*<link href="~/Content/assets/css/custom.css" rel="stylesheet" />*@

    <!-- Summernote CSS -->
    <link rel="stylesheet" href="~/Content/assets/summernote/summernote-bs4.css" />



    <style>
        html * {
            font-family: 'Cairo', sans-serif;
        }

        .input-validation-error {
            border: 1px dashed red !important;
        }
        .not-found-data {
            background: #f9674a2e !important;
        }
        .found-data {
            background: #55f94a2e !important;
        }
    </style>

    @RenderSection("style", false)

    <link rel="stylesheet" type="text/css" href="~/Content/new_main.css">
    <!-- Icomoon Font Icons css -->
    <link rel="stylesheet" href="~/Content/fonts/style.css">

    <!-- Datepicker css -->
    <link rel="stylesheet" href="~/Content/datepicker/css/classic.css" />
    <link rel="stylesheet" href="~/Content/datepicker/css/classic.date.css" />



</head>
<body class="rtl">
    <!-- Loader starts -->
    @*<div class="loader-wrapper">
            <div class="loader bg-white">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <h4>جارى التحميل ... </h4>
            </div>
        </div>*@
    <!-- Loader ends -->
    <div class="page-wrapper">

        <!--Page Header Start-->
        @*@Html.Partial("_MainHeader")*@
        @*@Html.Action("MainHeader", "Home")*@
        <!--Page Header Ends-->

        <div class="page-body-wrapper">
            <!-- Sidebar Start -->
            @Html.Partial("_Sidebar")
            <!-- Sidebar End -->


            <div class="page-body">

                @RenderBody()

            </div>
        </div>
    </div>

    <!-- latest jquery-->
    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>*@



    <script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/assets/js/jquery.ui.min.js"></script>
    @*<script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>*@



    <!-- Bootstrap js-->
    <script src="~/Content/assets/js/bootstrap/popper.min.js"></script>
    <script src="~/Content/assets/js/bootstrap/bootstrap.js"></script>

    <!-- Sidebar jquery-->
    <script src="~/Content/assets/js/sidebar-menu.js"></script>



    <!-- Theme js-->
    <script src="~/Content/assets/js/script.js"></script>
    @*<script src="~/Content/assets/js/chat-sidebar/chat.js"></script>*@


    <!--Datepicker js-->
    <script src="~/Content/assets/js/date-picker/datepicker.js"></script>
    <script src="~/Content/assets/js/date-picker/datepicker.en.js"></script>
    <script src="~/Content/assets/js/date-picker/datepicker.ar.js"></script>
    <script src="~/Content/assets/js/date-picker/datepicker.custom.js"></script>





    <!-- validation scripts -->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>



    <!-- bootstrap notify js -->
    <script src="~/Content/assets/js/notify/bootstrap-notify.min.js"></script>
    <script src="~/Content/assets/js/notify/notify-script.js"></script>


    <!-- Datepickers -->
    <script src="~/Content/datepicker/js/picker.js"></script>
    <script src="~/Content/datepicker/js/picker.date.js"></script>
    <script src="~/Content/datepicker/js/custom-picker.js"></script>

    @await RenderSectionAsync("script", false)

    <script>
        function isNumber(evt) {
            debugger;
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
        function alertt(message, state) {
            $.notify({
                message: message,
            },
                {
                    type: state,
                    allow_dismiss: false,
                    newest_on_top: false,
                    mouse_over: false,
                    showProgressbar: false,
                    spacing: 10,
                    timer: 2000,
                    placement: {
                        from: 'top',
                        align: 'right'
                    },
                    offset: {
                        x: 30,
                        y: 30
                    },
                    delay: 1000,
                    z_index: 10000,
                    animate: {
                        enter: 'animated bounce',
                        exit: 'animated bounce'
                    }
                });
        }
        function loadimageinput(FolderName, Code) {
            debugger;
            var ImageFormat = ["jpg", "JPG", "png", "PNG", "gif", "GIF ", "jpeg", "JPEG", "tif", "TIF", "jfif", "JFIF"];
            var formdata = new FormData();
            var fileInput = Code != "-1" ? document.getElementById('loadimageinput') : document.getElementById('loadimageinput1');
            if (fileInput.files.length > 0) {

                for (i = 0; i < fileInput.files.length; i++) {
                    formdata.append(fileInput.files[i].name, fileInput.files[i]);
                    if (!ImageFormat.includes(String(fileInput.files[i].name).split('.')[1])) {
                        alertt("الصوره غير صحيح (jpg,JPG,png,PNG,gif,GIF,jpeg,JPEG,tif,TIF,jfif,JFIF)", "danger");
                        Code != "-1" ? $("#loadimageinput").val('') : $("#loadimageinput1").val('');
                        return false;
                    }
                }


                var desc = "qqq";
                var xhr = new XMLHttpRequest();
                xhr.open('POST', "@Url.Action("UploadFile", "Base")" + `?type=${FolderName}` + `&code=${Code}`);  //set foldername

                xhr.send(formdata);
                xhr.onreadystatechange = function (ress) {

                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var res = JSON.parse(ress.currentTarget.responseText);
                        debugger;
                        if (Code == -1) {
                            $("#imagename1").val(res[0].path);
                        }
                        else
                            $("#imagename").val(res[0].path);
                        //$("#imagediv img").remove();
                        //var img = $('<img id="uploadimage" class="img-70 rounded-circle">');
                        //img.attr('src', res[0].path);
                        //img.appendTo('#imagediv');


                    }
                }
            } else {
                console.log("no files");
            }
        }
         function loadattachmentinput(FolderName, Code) {
            debugger;
            var FileFormat = ["pdf", "PDF"];
            var formdata = new FormData();
            var fileInput = document.getElementById('loadattachmentinput');
            if (fileInput.files.length > 0) {

                for (i = 0; i < fileInput.files.length; i++) {
                    formdata.append(fileInput.files[i].name, fileInput.files[i]);
                    if (!FileFormat.includes( String(fileInput.files[i].name).split('.')[1]) ) {
                        alertt("المرفق غير صحيح (pdf,PDF)", "danger");
                        $("#loadattachmentinput").val('');
                        return false;
                    }
                }


                var desc = "qqq";
                var xhr = new XMLHttpRequest();
                xhr.open('POST', "@Url.Action("UploadFile", "Base")" + `?type=${FolderName}` + `&code=${Code}`);  //set foldername

                xhr.send(formdata);
                xhr.onreadystatechange = function (ress) {

                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var res = JSON.parse(ress.currentTarget.responseText);
                        debugger;
                        $("#attachmentname").val(res[0].path);


                    }
                }
            } else {
                console.log("no files");
            }
        }
    </script>

    <!-- Slimscroll JS -->
    <script src="~/Content/slimscroll/slimscroll.min.js"></script>
    <script src="~/Content/slimscroll/custom-scrollbar.js"></script>
    <!-- Summernote JS -->
    <script src="~/Content/assets/summernote/summernote-bs4.js"></script>
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 170,
                tabsize: 2,
            });
            //$('.summernote').summernote('disable');
        });
    </script>



    @*<script>
            $('.summernote').each(function (index) {
                debugger;
                $(this).summernote('destroy');

            });
        </script>*@

</body>
</html>




