@model Ifa.Model.LastPage



@*<a href="@Model.GetUrl()" @Ifa.Helpers.IfaHelper.GetAjaxAttributes((AjaxOptions)ViewData["ajaxOptions"])>Last</a>*@



@*<li class="pagination-arrow">
    <a href="@Model.GetUrl()" @Ifa.Helpers.IfaHelper.GetAjaxAttributes((AjaxOptions)ViewData["ajaxOptions"])
       class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a>
</li>*@

@*<li class="page-item">
    <a class="page-link" href="@Model.GetUrl()" @Ifa.Helpers.IfaHelper.GetAjaxAttributes((AjaxOptions)ViewData["ajaxOptions"]) data-original-title="" title="">
     </a>
    </li>*@

 <li class="page-item"><a class="page-link" href="@Model.GetUrl()" @Ifa.Helpers.IfaHelper.GetAjaxAttributes((System.Web.Mvc.Ajax.AjaxOptions)ViewData["ajaxOptions"])  data-original-title="" title="">1</a></li> 