@model Ifa.Model.PageLink

@*<li>
        <a href="@Model.GetUrl()" @Ifa.Helpers.IfaHelper.GetAjaxAttributes((AjaxOptions)ViewData["ajaxOptions"])
           class="ripple-effect">@Model.GetText()</a>
    </li>*@

@*<li><a href="@Model.GetUrl()" @Ifa.Helpers.IfaHelper.GetAjaxAttributes((AjaxOptions)ViewData["ajaxOptions"])>@Model.GetText()</a></li>*@


<li class="page-item">
    <a class="page-link" href="@Model.GetUrl()"
       @Ifa.Helpers.IfaHelper.GetAjaxAttributes((System.Web.Mvc.Ajax.AjaxOptions)ViewData["ajaxOptions"])
       data-original-title="" title="">@Model.GetText()</a>
</li>



